.heroWrapper {
  width: 100%;
  min-height: 650px;
  background: #dfebd8;
  position: relative;
  overflow: hidden;
}

.heroInner {
  width: 50%;
  margin: 50px;
  color: white;
  flex-direction: column;
  z-index: 10;
  
  text-align: center;
}


.headerText {
  margin-top: 5px;
  letter-spacing: 0.5px;
  font-size: 2.5rem;    
  color: white;
  font-weight: 600;
  text-shadow: 0px 0px 15px black;
}

.slogan {
  font-weight: 500;
  text-shadow: 0px 0px 15px black;
}

.heroInner p {
  font-size: 18px;
  margin: 25px 0;
}
.inputLocation {
  display: inline-flex;
  justify-content: flex-start;
  width: 475px;
  padding: 20px;
  background: white;
  border-radius: 0.75rem;
}

.inputLocation input {
  padding-left: 10px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.inputLocation input::placeholder {
  font-size: 1.2rem;
}

.heroImage {
    position: absolute;
    height: 150%;
    z-index: 0;
    width: 100%;
    top: -15%;
    left: 0%;

}

.heroImage img {
  height: 100%;
}
.arrow {
  margin-top: 5px;
  color: #38bc38;
}

@media (max-width: 900px) {
  .heroImage {
    width: 100%;
  }
  .heroImage img {
    transform: rotate(-90deg) scale(1.2);
    height: 100vw;
    object-fit: cover;
    left: 10%;
    bottom: 10px;
  }
  .heroWrapper {
    align-items: flex-end;
  }

  .heroInner {
    margin: 50px 20px;
    width: 100%;
  }
  .inputLocation {
    margin-top: 20px;
    width: 100%;
  }
  .inputLocation input {
    width: 90%;
  }
  .slogan {
    display: none;
  }

  .dropDown {
    display: none;
  }
  .headerText {
    color: white;
    font-size: 2rem;
  }
}

@media (max-width: 550px) {
  .inputLocation {
    width: 100%;
  }
  .heroImage img {
    bottom: 160px;
  }
  .headerText {
    width: 80%;
    font-size: 1.75rem;
  }
}

@media (max-width: 400px) {
  .headerText {
    width: 80%;
    font-size: 1.5rem;
  }
}
